<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main class="container">
  <div class="jumbotron">
    <p></p>
    
    <!-- Welcome Message -->
    <h2>This is the Home Page of my website. My name is Samuel Rodriguez and I am glad to have you here!</h2>
    
    <!-- Button to Redirect to About Me Page -->
    <a class="btn btn-primary" href="/about">Learn More About Me</a>
  </div>
</main>
<!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>