<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Services</h1>
    
    <!-- Service 1: Creating Web Pages -->
    <div class="service">
      <!-- image for Service 1 -->
      <img src="/img/img1.png" alt="Service 1 Image">
      <h2>Creating Web Pages</h2>
      <p>
        I can create  stunning and responsive web pages tailored to your needs. Whether you need a personal portfolio or a business website, I've got you covered.
      </p>
    </div>

    <!-- Service 2: Debugging Code -->
    <div class="service">
      <!-- image for Service 2 -->
      <img src="/img/img2.png" alt="Service 2 Image">
      <h2>Debugging Code</h2>
      <p>
        Dealing with code issues? I can help you in debugging code, finding and fixing errors, and optimizing performance. Let us help you with your coding challenges.
      </p>
    </div>
  </div>
</main>

<!-- Bottom Navigation and Footer -->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
